* {
    box-sizing: border-box;
    font-family: 'Lato';
    /* overflow: hidden; */
    /* border: 2px solid blue; */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 1rem;
}

:root {
    --background: linear-gradient(20deg, white, skyblue);
    --container-width: 400px;
    --vehicle-height: 2rem;
}

body {
    height: 100vh;
    margin: 0;
    padding: 1em;
    background: var(--background);
    background-repeat: no-repeat;
}

#select-garage-container {
    margin: auto;
    width: var(--container-width);
    border: 2px solid rgb(94, 82, 82);
    margin: 0 auto;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

#setup-garage-container {
    margin: auto;
    display: none;
    /* display: flex; */
    justify-content: center;
    flex-wrap: wrap;
    width: var(--container-width);
    border: 2px solid black;
    padding: 1rem;
    gap: 1rem;
}

#garage-management-container {
    margin: 0 auto;
    width: var(--container-width);
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    column-gap: 1rem;
}


#select-garage-container>* {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

#garage-title {
    text-align: center;
    font-weight: bold;
    margin: 0;
    color: rgb(192, 92, 92);
    font-size: 1.25rem;
}

[for='garage-id-input'] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

#return-to-select-div {
    display: flex;
    justify-content: space-between;
    height: 0rem;
    width: 100%;
}

#return-to-select-btn,
#refresh-selection-btn {
    font-size: 1.3rem;
    transition: scale 0.1s ease-in;
    background-color: transparent;
    border: 0;
}

#return-to-select-btn {
    color: rgb(128, 60, 141);
}

#refresh-selection-btn {
    color: rgb(45, 117, 59);
}

#return-to-select-btn:hover,
#refresh-selection-btn:hover {
    scale: 1.1;
    color: rgb(63, 60, 55);
}

#return-to-select-btn:active,
#refresh-selection-btn:active {
    scale: 1;
}

#garage-id-div {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    width: 100%;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#garage-id-div>* {
    font-size: 1.3rem;
}

.list-description-spans:nth-child(1) {
    font-weight: bold;
    color: rgb(207, 167, 147);
}

.list-description-spans:nth-child(2) {
    font-weight: bold;
    color: rgb(199, 102, 194);
}


#build-new-garage-btn {
    background-color: rgb(25, 85, 65);
    border-radius: 1rem;
    color: whitesmoke;
    transition: scale 0.1s ease-in;
}

#garage-selector-div {
    position: relative;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

#garage-selector-div>* {
    font-size: 1.3rem;
    height: 2rem;
}

#garage-selector {
    padding-left: 1rem;
    padding-bottom: 0.1rem;
    width: 50%;
    translate: 1.3rem 0;
}

.fa-shop-slash {
    translate: 1.3rem 0.25rem;
    right: 2rem;
    transition: scale 0.1s ease-in;
    visibility: hidden;
}

.fa-shop-slash:hover {
    scale: 1.1;
    cursor: pointer;
    color: rgb(175, 60, 60);
}

.fa-shop-slash:active {
    scale: 1;
    color: rgb(113, 113, 128);
}

#continue-btn {
    background-color: rgb(21, 19, 49);
    border-radius: 1rem;
    color: whitesmoke;
    transition: scale 0.1s ease-in;
    display: none;
}

#continue-btn:hover,
#build-new-garage-btn:hover {
    color: black;
    background-color: aquamarine;
    scale: 1.05;
}

#continue-btn:active,
#build-new-garage-btn:active {
    color: black;
    background-color: aquamarine;
    scale: 1;
}

#button-creation-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5em;
}

#button-creation-div>#add-vehicle-slot-btn {
    width: 100%;
    height: 30px;
}

#button-creation-div {
    width: 100%;
}

#button-creation-div>#create-garage-btn {
    width: 100%;
    height: 50px;
    font-size: 1.1rem;
}

#add-vehicle-slot-btn {
    background: linear-gradient(220deg, rgb(169, 169, 248), rgb(252, 120, 120));
    color: whitesmoke;
    transition: scale 0.1s ease-in;
    font-weight: bold;
    font-size: 1rem;
}

#create-garage-btn {
    background: linear-gradient(20deg, rgb(169, 169, 248), rgb(252, 120, 120));
    color: whitesmoke;
    transition: scale 0.1s ease-in;
    font-weight: bold;
}

#create-garage-btn:hover {
    background: linear-gradient(220deg, rgb(169, 169, 248), rgb(252, 120, 120));
    scale: 1.05;
}

#add-vehicle-slot-btn:hover {
    background: linear-gradient(20deg, rgb(169, 169, 248), rgb(252, 120, 120));
    scale: 1.05;
}

#garage-id-input {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    width: 110px;
    font-size: 1rem;
}

#list-of-created-vehicles-div,
#list-description-div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.7fr 0.1fr;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#list-description-div {
    padding: 0;
    gap: 0;
}

button:hover {
    cursor: pointer;
}

.fa-trash-can {
    font-size: 1.1rem;
    transition: scale 0.1s ease-in, color 0.1s ease-in;
}

.fa-trash-can:hover {
    scale: 1.1;
    color: red;
    cursor: pointer;
}

.fa-trash-can:active {
    scale: 1;
    color: green;
}

.list-description-spans {
    font-size: 1rem;
}

#parking-slots-span {
    grid-column: 2/4;
}

.added-inputs {
    width: 100%;
    padding: 0.5em;
    font-size: 1.2rem;
}

#delete-decision-dialog {
    width: 200px;
    height: 100px;
    padding: 0;
    margin: 0 auto;
    top: 4rem;
}

#delete-decision-div {
    position: absolute;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#delete-decision-div>p {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

#delete-decision-div>button {
    width: 50px;
    height: 30px;
}

#built-garage {
    width: 100%;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5rem auto;
    padding: 0.5rem;
}

#display-selected-garage-id {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#garage-slots-container {
    width: 100%;
    gap: 0.2rem;
}

.garage-slot {
    display: inline-block;
    transition: scale 0.1s ease-in;
    cursor: grab;
    height: var(--vehicle-height);
    width: 49%;
    max-width: 200px;
    border: 2px solid rgb(43, 97, 43);
}

.garage-slot:hover {
    scale: 1.05;
    border: 2px solid rgb(151, 65, 65);
}

.garage-slot:active {
    scale: 1
}

#vehicle-creation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0;
}

#vehicle-creation>label {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

#vehicle-creation input {
    height: 30px;
    margin-top: 0.2rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    width: 90%;
    max-width: 200px;
    border-radius: 0;
}

#create-vehicle-btn {
    height: 50px;
    font-size: 1.2rem;
    width: 100%;
    max-width: 200px;
}

#vehicles-ready-to-enter-garage {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

[for='create-vehicle-btn'] {
    width: 100%;
}

.created-vehicle {
    width: 90%;
    max-width: 200px;
    height: var(--vehicle-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid purple;
    padding: 0 0.5rem;
    transition: scale 0.1s ease-in;
}

.created-vehicle:hover {
    cursor: grab;
    border: 2px solid green;
    scale: 1.05;
}

.fa-ban {
    font-size: 1.2rem;
    transition: scale 0.1s ease-in;
}

.fa-ban:hover {
    scale: 1.1;
    color: red;
    cursor: pointer;
}

.created-vehicle-id-span {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}